@import "../../variables.scss";

.main {
  text-align: center;

  h1 {
    color: $color-green;
  }
}

.main-div {
  display: flex;
}

@media (max-width: 768px) {
  .main {
    h1 {
      font-size: 3rem;
    }
  }
  .main-div {
    display: block;
  }
}
