@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');

$background:#282a36;	
$background-secondary: #383a59;
$item-dark:	#1D1E26;
$current-line:#44475a;
$foreground:#f8f8f2;	
$comment:	#6272a4;	
$color-cyan:#8be9fd;	
$color-green:	#50fa7b;	
$color-orange:#ffb86c;
$color-pink:#ff79c6;
$color-purple:#bd93f9;
$color-red:#ff5555;
$color-yellow:#f1fa8c;

$primary-font: 'Ubuntu', sans-serif;